
@function px( $px ){
    @return $px/$designWidth*10 + rem;
  }
  
  $designWidth : 640;

body{
    font-size: px(16);
    .child{
        width:px(320);
        height:px(160);
        background-color: red;
        margin:px(50)
    }
}